@import "@mantine/core/styles.css";

:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  margin: 0;
}

/* Add custom styles or dark mode support */
.dark {
  background-color: #1a1b1e;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}
